<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
</head>
<body>
    <div id="app">
        <template v-if="isLoading">
            {{ loadingMessage }}
        </template>
        <template v-if="!isLoading">
            <h2 v-on:click="showNodes">Nodes</h2>
            <div v-if="currentTab == 'nodes'">
                <ul>
                    <li v-for="(node, id) in nodes">
                        <Node :name="node.dn"></Node>
                    </li>
                </ul>
            </div>
            <h2 v-on:click="showGroups">Groups</h2>
            <div v-if="currentTab == 'groups'">
                <ul>
                    <li v-for="(group, id) in groups">
                        <Group :id="id"></Group>
                    </li>
                </ul>
            </div>
        </template>
    </div>
    <script src="app.js"></script>
</body>
</html>